<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ca.gc.inspection.scoop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name="ca.gc.inspection.scoop.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".info.InfoOpenSourceLibraries"></activity>
        <activity android:name=".info.InfoTOS" />
        <activity android:name=".info.InfoDataPolicy" />
        <activity android:name=".info.InfoScoop101" />
        <activity android:name=".displaypost.DisplayPostActivity" />
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".displaypost.DisplayPostActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".search.SearchActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".info.InfoActivity" />
        <activity android:name=".settings.SettingsActivity" />
        <activity android:name=".editprofile.EditProfileActivity" />
        <activity android:name=".feedpost.SavedPostActivity" />
        <activity
            android:name=".createpost.CreatePostActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".signup.SignUpActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".splashscreen.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".profile.OtherUserActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".profile.OtherUserActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".searchbuilding.SearchBuildingActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".editpost.EditPostActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>